body{
    font-family: sans-serif;
    background-color:white;
    margin: 0; 
}

.mountain{
  font-size: 1.5rem;
  font-weight: bold;
}
 
.site-header {
  position: relative;
  background-color: #c1eb7e; 
  padding: 1rem;
  color: white;
}
 
.site-header__wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex; 
  justify-content: space-between; 
  align-items: center;  
}

.nav__wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #c1eb7e; 
  position: absolute;
  top: 100%;
  left:0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  z-index: 999;
}

.nav__wrapper li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.75rem 1rem;
  display: block;
  transition: background-color 0.3s;
  border: radius 0.5rem;
  margin: 0.25rem 0.5rem
}

nav__wrapper li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.nav__wrapper.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 600px) {
  .nav__wrapper {
    position: static;
    flex-direction: row;
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}

 
.nav__item a {
  display: block;
  padding: 1.5rem 1rem; }
 
.nav__toggle {
  display: none; }
  @media (max-width: 599px) {
    .nav__toggle {
      display: block;
      position: absolute;
      right: 1rem;
      top: 1rem; } }
      
.img-wrap{
    position:relative;
    display:inline-block;
}
.img-wrap img{
    display:block;
    width:100%;
    height: auto;
}

.container {
    display: flex; 
    min-height: calc(100vh - 40px); 
    padding: 20px; 
    box-sizing: border-box; 
}

.main-content {
    flex-grow: 1; 
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}


.content-block {
    background-color:white;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100px; 
    box-sizing: border-box;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.title-block {
  background-color: #68714e;
  border-bottom: 5px solid #4B6700;
  text-align: center;
  padding: 10px 20px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.title-block h1 {
    font-size: 2em; 
    margin: 0;
    text-align: center;
    padding-top:30px;
    color:white;
}

.image-block {
    flex-grow: 1; 
    min-height: 300px; 
}
