body{
    font-family: sans-serif;
    background-color:#EEFAD1;
    margin: 0; 
}

.img-wrap{
    position:relative;
    display:inline-block;
}
.img-wrap img{
    display:block;
    width:100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 2em;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    text-align: center;
    width: 90%;
}


.container {
    display: flex; 
    min-height: calc(100vh - 40px); 
    padding: 20px; 
    box-sizing: border-box; 
}

/* サイドメニューのデザイン */
.side-menu {
    width: 250px;
    background-color: #99a074; 
    padding: 20px;
    margin-right: 20px; 
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}

.side-menu h2 {
    margin-top: 0; 
    margin-bottom: 20px; 
}

.side-menu ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    width: 100%; 
}

.side-menu li {
    margin-bottom: 20px; 
}

.side-menu a {
    text-decoration: underline; 
    font-size: 1.2em; 
    display: block; 
    padding: 5px 0;
}


.main-content {
    flex-grow: 1; 
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}


.content-block {
    background-color:#EEFAD1;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100px; 
    box-sizing: border-box;
}

/* タイトルブロック */
.title-block {
    height: 150px;
    background-color:#BCCF88;
}
.title-block h1 {
    font-size: 2em; 
    margin: 0;
    border-bottom:5px solid#4B6700;
    text-align: center;
    padding-top:30px;
}

/* 画像ブロック */
.image-block {
    flex-grow: 1; 
    min-height: 300px; /
}

.site-header, .site-footer {
    height: 20px; 
    background-color: #4B6700;
    text-align: center;
    padding: 10px 0;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column; 
    }

    .side-menu {
        width: auto; 
        margin-right: 0;
        margin-bottom: 20px;
        padding: 10px; 
    }

    .side-menu h2 {
        font-size: 1.8em; 
    }

    .side-menu ul {
        display: flex; 
        flex-wrap: wrap; 
        justify-content: center; 
        gap: 10px; 
    }

    .side-menu li {
        margin-bottom: 0;
    }
}