@keyframes slideInFromLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in {
  animation: slideInFromLeft 1.5s ease-out forwards;
}

.description p {
    font-size: 20px;
    background-color: #74815a; 
    color: #ffffff ;
    border-radius: 6px;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}
    .description p:hover {
    animation: none;
    transform: translateY(-3px); /* 上に5px移動 */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* 影を追加 */
}

h1 {
    border-bottom: solid 5px #4B6700;
    background-color: #BCCF88;
    padding: 10px;
    color: #ffffff;
    border-radius: 12px;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}
    h1:hover {
    animation: none;
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
h2 {
    border-bottom: solid 5px #4B6700;
    background-color: #BCCF88;
    padding: 10px;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    color: #ffffff;
    border-radius: 12px;
}
    h2:hover {
    animation: none;
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
body {
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
    background-image: url('../picture/landscape.jpg'); /* 画像のパスを指定 */
    background-repeat: no-repeat; /* 画像を繰り返さない */
    background-size: cover; /* 背景領域を画像で覆うように拡大縮小 */
    background-position: center center; /* 画像を中央に配置 */
    background-attachment: fixed; 
}
.description u {
    text-decoration: underline;
    text-decoration-color: #4B6700;
    text-decoration-thickness: 3px;
    color: #ffffff;
}
.media-container figure img {
  width: 650px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border: 2px solid #4B6700;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.media-container figure figcaption {
  text-align: center;
  margin-top: 8px;
  font-weight: bold;
}

.button-container {
  margin: 20px 0;
  text-align: center;
}
.button-container button {
  padding: 8px 16px;
  margin: 0 8px;
  background-color: #4B6700;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}
.button-container button:hover {
  background-color: #3e5300;
  transform: translateY(-3px); 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}