.description p {
    font-size: 20px;


}

h1 {
    border-bottom: solid 5px #4B6700;
    background-color: #BCCF88;

}
h2 {
    border-bottom: solid 5px #4B6700;
    background-color: #A6D52C;
}
body {
    background-color:#ffffff;
}
.description u {
    text-decoration: underline;
    text-decoration-color:  #4B6700;
    text-decoration-thickness: 3px;
}
.media-container figure img {
  width: 300px;
  height: auto;
  object-fit: cover;
}
.button-container {
  margin: 20px 0;
  text-align: center;
}
.button-container button {
  padding: 8px 16px;
  margin: 0 8px;
  background-color: #4B6700;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.button-container button:hover {
  background-color: #3e5300;
}