body{
    width:100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
h1.main{
    margin: 0;
    padding: 0;
    background-position: top;
    background-color: #BCCF88;
}
p.shop1{
 background: #BCCF88;
 padding: 6.87787px;   
}
.picture1{
    position: relative;
}
.picture1 p{
    position: absolute;
    color: black;
    top: 2px;
    left: 2px;
}
.picture1 img{
    width: 100%;
}
p.shop2{
    background: #BCCF88;
    padding: 6.87787px;
}
.picture2{
    position: relative;
}
.picture2 p{
    position: absolute;
    color: black;
    top: 2px;
    left: 2px;
}
.picture2 img{
    width: 100%;
}
p.shop3{
    background: #BCCF88;
    padding: 6.87787px;
}
.picture3{
    position: relative;
}
.picture3 p{
    position: absolute;
    color: black;
    top: 2px;
    left: 2px;
}
.picture3 img{
    width: 100%;
}