@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.description p {
    font-size: 20px;
    background-color: #249c0a; 
    animation: slideInFromRight 1s ease-out 0.5s forwards;
    color: #ffffff ;
}

h1 {
    border-bottom: solid 5px #4B6700;
    background-color: #249c0a ;
    padding: 10px;
    animation: slideInFromRight 1s ease-out forwards;
    color: #ffffff;
}
h2 {
    border-bottom: solid 5px #4B6700;
    background-color:  #249c0a;
    padding: 10px;
    color: #ffffff;
}
body {
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
}
.description u {
    text-decoration: underline;
    text-decoration-color: #4B6700;
    text-decoration-thickness: 3px;
    color: #ffffff;
}
.media-container figure img {
  width: 650px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border: 2px solid #4B6700;
}

.media-container figure figcaption {
  text-align: center;
  margin-top: 8px;
  font-weight: bold;
}

.button-container {
  margin: 20px 0;
  text-align: center;
}
.button-container button {
  padding: 8px 16px;
  margin: 0 8px;
  background-color: #4B6700;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.button-container button:hover {
  background-color: #3e5300;
}